.block-reveal-hidden {
	display: none;
}

.block-reveal-button {
	padding-top: @block-padding-top;

	@media all and (max-width: (@device-width-large + 20px)) {
		padding-top: @block-padding / 2;
	}
	@media all and (max-width: (@device-width-small + 20px)) {
		padding-top: @block-padding / 3;
	}

	&:not(.bottom) {
		width: 100%;
		max-width: @device-width-large;
		top: 0px;
		position: absolute;

		@media all and (max-width: (@device-width-large + 20px)) {
			margin-left: -@block-padding;
		  .dir-rtl & {
				margin-right: -@block-padding;
			}
		}
		@media all and (max-width: (@device-width-small + 20px)) {
			margin-left: -@block-padding / 2;
			.dir-rtl & {
				margin-right: -@block-padding / 2;
			}
		}

		.block-reveal-open-button,
		.block-reveal-graphic-button {
			float: right;
			.dir-rtl & {
				float: left;
			}
		}
	}

	.icon {
		display: inline-block;
		color: @item-text-color;
		background-color: @item-color;
		padding: @item-padding;

		&:hover{
			background-color: @item-color-hover;
		}
	}

	&.bottom {
		position: relative;
		text-align: center;
	}
}

.block-reveal-graphic-button {
	img {
		display: block;
	}
	&.block-reveal-button-states-image {
		.item-states-image.default;
		.no-touch & {
			&:hover {
				.item-states-image.hover;
			}
			&.visited {
				.custom-hotgrid-item-states-image {
					.item-states-image.visited;
				}
			}
		}
	}
	&.visited {
		.item-states-image.visited;
		&.show:hover {
			.item-states-image.hover;
		}
	}
	&:hover {
		.item-states-image.hover;
	}

	.item-states-image {
		.default {
			img.block-reveal-button-image-hover {
				display: none;
			}
			img.block-reveal-button-image-visited {
				display:none;
			}
		}
		.hover {
			> img {
				display:none;
			}
			img.block-reveal-button-image-hover {
				display: block;
			}
			img.block-reveal-button-image-visited {
				display:none;
			}
		}
		.visited {
			> img {
				display:none;
			}
			img.block-reveal-button-image-hover {
				display: none !important;
			}
			img.block-reveal-button-image-visited {
				display:block !important;
			}
		}
	}
}

.block-reveal-withAudio {
	.block-reveal-open-button {
		margin-right: (@item-padding*2)+@icon-size+@item-spacing;
		.dir-rtl & {
			margin-left: (@item-padding*2)+@icon-size+@item-spacing;
		}
	}
}

.block-reveal-done {
	padding-top: @block-padding-top;

	@media all and (max-width: (@device-width-large + 20px)) {
		padding-top: @block-padding / 2;
	}
	@media all and (max-width: (@device-width-small + 20px)) {
		padding-top: @block-padding / 3;
	}

	&:not(.bottom) {
		width: 100%;
		max-width: @device-width-large;
	  top: 0px;
		position: absolute;

		@media all and (max-width: (@device-width-large + 20px)) {
			margin-left: -@block-padding;
			.dir-rtl & {
				margin-right: -@block-padding;
			}
		}
		@media all and (max-width: (@device-width-small + 20px)) {
		  margin-left: -@block-padding / 2;
		  .dir-rtl & {
				margin-right: -@block-padding / 2;
			}
		}

		.block-reveal-icon-close {
			float: right;
			.dir-rtl & {
				float: left;
			}
		}
	}

	.icon {
		display: inline-block;
		color: @item-text-color;
		background-color: @item-color;
		padding: @item-padding;

		&:hover{
			background-color: @item-color-hover;
		}
	}

	&.bottom {
		position: relative;
		text-align: center;
	}
}
