.block-reveal-hidden {
	display: none;
}

.block-reveal-button {

	.reveal-button {
		display: flex;
		align-items: center;
	}

	.icon {
		color: @item-text-color;
		background-color: @item-color;
		padding: @item-padding;

		&:hover{
			background-color: @item-color-hover;
		}
	}

	.reveal-button-title {
		font-family: @font-family;
		.button-text;

		&.add-margin {
			padding-left: @item-padding;
			.dir-rtl & {
				padding-left: inherit;
				padding-right: @item-padding;
			}
		}
	}

	&.top {
		position: absolute;
		top: @block-padding-top;
		right: @component-padding;

		.dir-rtl & {
			right: inherit;
			left: @component-padding;
		}

		@media all and (max-width: (@device-width-large + 20px)) {
			top: @block-padding-top / 2;
			right: @title-text-margin + 20px;
			.dir-rtl & {
				right: inherit;
				left: @title-text-margin + 20px;
			}
		}

		@media all and (max-width: (@device-width-small + 20px)) {
			top: @block-padding-top / 3;
			right: @title-text-margin + 10px;
			.dir-rtl & {
				right: inherit;
				left: @title-text-margin + 10px;
			}
		}
	}

	&.bottom {
		position: relative;
		text-align: center;

		.icon {
			position: relative;
			left: 50%;
			transform: translate(-50%);
			-ms-transform: translate(-50%);
			-webkit-transform: translate(-50%);
			-moz-transform: translate(-50%);
			-o-transform: translate(-50%);
		}
	}
}

.block-reveal-graphic-button {
	img {
		display: block;
	}
	&.block-reveal-button-states-image {
		.item-states-image.default;
		.no-touch & {
			&:hover {
				.item-states-image.hover;
			}
			&.visited {
				.custom-hotgrid-item-states-image {
					.item-states-image.visited;
				}
			}
		}
	}
	&.visited {
		.item-states-image.visited;
		&.show:hover {
			.item-states-image.hover;
		}
	}
	&:hover {
		.item-states-image.hover;
	}

	.item-states-image {
		.default {
			img.block-reveal-button-image-hover {
				display: none;
			}
			img.block-reveal-button-image-visited {
				display:none;
			}
		}
		.hover {
			> img {
				display:none;
			}
			img.block-reveal-button-image-hover {
				display: block;
			}
			img.block-reveal-button-image-visited {
				display:none;
			}
		}
		.visited {
			> img {
				display:none;
			}
			img.block-reveal-button-image-hover {
				display: none !important;
			}
			img.block-reveal-button-image-visited {
				display:block !important;
			}
		}
	}
}
